@import "tailwindcss";

@theme {
  --color-background: #030305;
  --color-foreground: #ededed;
  
  --color-neon-blue: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-neon-green: #0aff0a;
  --color-deep-void: #030305;
}

:root {
  --background: #030305;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow: hidden; /* Prevent scrolling for the slide experience */
}

/* Custom Utilities for Animations */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
